*{
	box-sizing: border-box;
}
.right-border{
	border-right-width: 1px ;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-style: solid;
	border-color: #7f7f7f;
	padding-right:26px;

}
body{
	margin:0;
	padding: 0;
	overflow-x: hidden;
}	

/*Start Header Section*/
.header{
	background: linear-gradient(#f3f3f3, #c7c7c7);
	text-align: center;
	height: 49px;
	overflow: hidden;	
}
.header p{
	margin-left: 777px;	
	margin-top: 12px;
	font-family: mini;
	font-size: 12px;
	line-height: 1.4em;
}	
.header a{
	margin-left: 769px;
	position: relative;
	bottom: 15px;
	text-decoration: none;
	color: black;
	font-family: bmw-bold;
	line-height: 1.4em;
}

/*End Header Section*/

/*Start Logo Setion*/
.logo{
	border: 1px solid #afafaf;
	z-index:101;
	width: 310px;
	height: 115px;
	background-color: #ffffff;
	border-top: 0px;
	text-align:center;
	position:absolute;
	left:320px;
	top:2px;
	box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo h1{
	font-size: 25px;
	text-align: left;
	padding-left: 20px;
	padding-top: 6px;
	font-weight: 600;
	font-family: bmw-bold;
}
.logo p{
	position: relative;
	bottom: 37px;
	right: 0px;
	font-family: bmw-bold;
	font-size: 16px;
}
.logo .line1{
	width: 102px;
	position: relative;
	bottom: 29px;
	left: 80px;
	border:1px solid #d1d1d4;
}
.logo .line2{
	width: 266px;
	position: relative;
	bottom: 49px;
	left: 0px;
	border:1px solid #d1d1d4;
}
/*End Logo Section*/

/*Start NavBar Section*/

.navbar-inverse{
	background-color: #575757;	
	background: linear-gradient(#727272, #5e5e5e, #4e4e4e);
	height: 50px;
}
.navbar-inverse .navbar-nav > li > a{
	color: white;
	font-family: bmw-bold;
	padding-right: 30px;
	margin-right: ;
}

.nav .links li {
	display: inline-block;
	margin-top: 5px;
}
/*End NavBar Section*/

/*Start Sub-nav Section*/

.sub-nav{
	background-color: #fbfbfb;
	border:1px solid #e3e3e3;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	z-index: 1004;
	padding: 10px;
	border-top: none;
	width: 418px;
	height: 40px;
	position: absolute;
	left:900px;
	padding-left: 0px;
	padding-top: 9px;
	top: 99px;
	font-family: bmw;
}

.sub-nav .links2{
   list-style-type:none;
}
.sub-nav .links2 li {
	display:inline-block;

}
.sub-nav .links2 li a{
	text-decoration: none;
	color: black;
	padding: 10px;

}	
/*End SubNav Section*/
.picture1 img{
	width: 100%;
	height: 561px;



/*Start Box1 Section*/
}
.box1{
	padding-left: 0;
	border-top: 10px solid #da0000;
	width: 931px;
	background-color: white;
	z-index: 9999;
	position: absolute;
	top:567px;
	left:327px;
	height: 370px;

}
.box1 .container{
	width: 1167px;
	padding-left: 155px;
}
.box1 .container p{
	font-size:20px;
	margin-top: 27px;
	font-family: mini;
}
.box1 .container h1{
	font-size: 40px;
	font-family: mini;
}
.box1 .container h3{
	font-family: mini;
	margin-top: 50px;
}
.box1 hr{
	width:75px;
	margin-left:5px;
	border:1px solid #333333;
}

/*End Box1 Section*/
.picture2 img{
	width: 100%;
	margin-top: 360px;
}

/*Start Box2 Section*/

.box2{
	width: 931px;
	position: relative;
	left: 327px;
	padding-left: 101px;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-right: 501px;
	height: 470px;
	background-color: white;
	bottom: 150px;

}
.box2 h1{
	font-weight: bold;
	font-size: 36px;
	font-family: mini;
}
.box2 button{
	background-color: black;
	color: white;
	border-radius: 0%;
	padding-right: 20px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 9px;
	font-family: mini;
	margin-top: 40px;
	border:none;
}
.box2 p{
	font-size: 20px;
	font-family: mini;
	width: 604px;
}
.box2 hr{
	width:74px;
	border:1px solid #333333;
	margin-top:20px;
	margin-bottom: 20px;
	margin-right: 484px;
}

/*End Box2 Section*/

.picture3 img{
	width: 100%;
	margin-top: -150px;
}

/*Start Box3 Section*/

.box3{
	width: 931px;
	position: relative;
	left: 327px;
	padding-left: 101px;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-right: 501px;
	height: 439px;
	background-color: white;
	bottom: 95px;

}
.box3 h1{
	font-weight: bold;
	font-size: 36px;
	font-family: mini;
}
.box3 button{
	background-color: black;
	color: white;
	border-radius: 0%;
	padding-right: 20px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 9px;
	font-family: mini;
	margin-top: 40px;
	border:none;
}
.box3 p{
	font-size: 20px;
	font-family: mini;
	width: 604px;
}
.box3 hr{
	width:74px;
	border:1px solid #333333;
	margin-top:20px;
	margin-bottom: 20px;
	margin-right: 484px;
}

/*End Box3 Section*/

.picture4 img{
	width: 100%;
	margin-top: -94px;
}

/*Start Box4 Section*/

.box4{
	width: 931px;
	position: relative;
	left: 327px;
	padding-left: 101px;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-right: 501px;
	height: 410px;
	background-color: white;
	bottom: 100px;

}
.box4 h1{
	font-weight: bold;
	font-size: 36px;
	font-family: mini;
}
.box4 button{
	background-color: black;
	color: white;
	border-radius: 0%;
	padding-right: 20px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 9px;
	font-family: mini;
	margin-top: 40px;
	border:none;
}
.box4 p{
	font-size: 20px;
	font-family: mini;
	width: 604px;
}
.box4 hr{
	width:74px;
	border:1px solid #333333;
	margin-top:20px;
	margin-bottom: 20px;
	margin-right: 484px;
}

/*End Box4 Section*/

.picture5 img{
	margin-top: -99px;
	width: 100%;
}

/*Start Box5 Section*/

.box5{
	width: 931px;
	position: relative;
	left: 327px;
	padding-left: 101px;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-right: 501px;
	height: 410px;
	background-color: white;
	bottom: 100px;

}
.box5 h1{
	font-weight: bold;
	font-size: 36px;
	font-family: mini;
}
.box5 button{
	background-color: black;
	color: white;
	border-radius: 0%;
	padding-right: 20px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom: 9px;
	font-family: mini;
	margin-top: 40px;
	border:none;
}
.box5 p{
	font-size: 20px;
	font-family: mini;
	width: 604px;
}
.box5 hr{
	width:74px;
	border:1px solid #333333;
	margin-top:20px;
	margin-bottom: 20px;
	margin-right: 484px;
}

/*End Box5 Section*/

/*Start Footer Section*/
.footer{
	background-color: #373737;
	color: white;
	height: 336px;

}
.footer .list1,.footer .list2,.footer .list3,.signup{
	margin-top: 55px;
}
.footer .list1 li a,.footer .list2 li a ,.footer .list3 li a{
	color: white;
	font-size: 17px;
	text-decoration: none;
}
.footer .signup{
	background-color: #9d9d9d;
	height: 96px;
	width: 415px;
	margin-left: 105px;
}
.footer .signup h4{
	padding-left: 22px;
	padding-top: 10px;
	font-size: 15px;
}
.footer .signup input{
	height: 38px;	
	margin-left: 20px;
	border-radius: 0%;
	padding-right: 46px;
}
.footer .signup button{
	background-color: #166de3;
	border:none;
	width: 78px;
	height: 35px;
	margin-left: 13px;
	font-size: 16px;
}
.footer .icons{
	margin-top: 25px;
	margin-right: -3px;
	color: #1b67cf;
}
.footer .icons i{
	padding-right: 40px;
}
.sub-footer{
	position: relative;
	left:490px;
	top:54px;
	font-size: 11px;
}
.sub-footer .link1, .sub-footer .link2{
	color: white;
	text-decoration: none;
	padding-right: 32px;
}
.sub-footer .copyright{
	margin-top: 9px;
	margin-left: 25px;
	font-size: 11px;
}

/*End Footer Section*/